main{
    display: flex;
}

/* Logo */
.logo-img{
    width: 130px;
    margin-top: 1rem;
}

/* Login section */
.login{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: clamp(35px, 8%, 70px);
}

.wrapper{
    padding: 1rem 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-bottom: 2rem;
    text-align: center;
}

.input-content{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.login__label{
    margin-bottom: 1.25rem;
    width: 100%;
    display: block;
}

.login__label span{
    position: absolute;
    font-size: .8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--light-text-color);
    margin: 1.25rem;
    cursor: text;
    transition: all .2s ease;
}

.login-input{
    width: 100%;
    background-color: var(--grey);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--text-color);
}

.login-input:focus{
    background-color: var(--white);
    border: 2px solid var(--text-color);
}

.login__label .span-active{
    font-size: 0.7em;
    margin: .5rem .625rem;
}

.buttons{
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
}

.icon-btn{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.1875rem;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
}

.icon-btn:hover{
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .1);
}

.icon-btn img{
    width: 20px;
}

.buttons .fb{
    background-color: var(--blue);
}

.buttons .fb:hover{
    background-color: #0966de;
}

.buttons .apple{
    background-color: #111111;
}


.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.login-link{
    color: var(--light-text-color);
    font-size: .6rem;
    text-transform: uppercase;
    font-weight: 600;
}

.login-link:hover{
    color: var(--text-color);
}

.login-btn{
    width: 50px;
    height: 50px;
    border: 2px solid var(--grey);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

/* Login checkbox */
.login-chk_label{
    width: 100%;
    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: .9em;
    font-weight: 500;
}

.login-chk_input{
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--grey);
    border-radius: 3px;
    transition: all .2s;
}
.login-chk_input:checked{
    background-color: var(--red);
}

.login-chk_input:checked::after{
    content: "";
    width: 5px;
    height: 10px;
    display: block;
    border: 3px solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin: 2px 6px;
}

/* Nxt-btn able and disable style */

.nxt-btn{
    width: 60px;
    height: 60px;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 2rem;
    border-radius: 1.25rem;
    padding: 1.25rem;
}

.nxt-btn svg{
    fill: var(--white);
}

.nxt-btn:hover{
    background-color: var(--red-hover);
}

.nxt-btn:disabled{
    cursor: auto;
    background-color: var(--white);
    border: 2px solid var(--grey);
}

.nxt-btn:disabled svg{
    fill: var(--grey);
}


/* Wallpaper section */

.wallpaper{
    width: 100%;
    background-image: url("/assets/images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
}